@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

/*MY STYLES*/
.linkName{
  width: 0;
}

.linkText {
  position: absolute;
  transform: translateY(100%);
}

.featureCover {
  clip-path: url(#featureClip);
}

.lgArrow{
  width:6vw;
  height:4vw;
}

.line {
  overflow-y: hidden;
  line-height: 1.15;
}

/* .word {
  transform: translateY(2em);
} */

img {
  object-fit: cover;
}

#smooth-content {
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.workSelector:hover {
  color: #F45844;
}

/*LENIS*/

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
} 

::-webkit-scrollbar{
  display: none;
}
